.acc-settings-main-modal{
  --height: 320px;
  /* --border-radius: 30px 30px 0px 0px !important; */
  /* --border-radius: 30px 30px; */
}


.acc-password-change-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.acc-password-change-title {
  margin-top: 5px;
  text-align: center;
  /* margin-bottom: 30px; */
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #000000;
}


.acc-password-btn-box {
  margin-top: 10px;
  margin-right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 308px;
}


.acc-settings-btn{
  height: 51px;
}

.acc-password-change-input {
  width: 90%;
}

.acc-password-change-title {
  font-weight: 400;
  margin-bottom: -10px;
}

.experience-text {
  position: absolute;
  top: 45%;
  color: white;
  font-weight: 600;
  font-family: 'Nunito Sans';
}
