.account-settings-container {
	background-color: #FEFCF7;


	.account-settings-content {
		--padding-start: 20px;
		--padding-end: 20px;
		--padding-bottom: 20px;
		--padding-top: 20px;
		--background: #FEFCF7;



		.acc-settings-input-box {
			 margin-top: 100px;
			width: 352px;
			// height: 300px;
			height: 460px;
			margin: auto;
			border: 2px solid gray;
			border-radius: 10px;
			// background-color: aqua;


			.acc-text-input-box {
				margin-bottom: 20px;

				// background-color: palevioletred;
				// box-sizing: border-box;
				width: 306px;
				// height: 100px;
				// border: 0.5px solid #000000;
				// border-radius: 2px;
				// background-color: teal;
				margin: auto;
				// display: flex;
				// align-items: center;
				// justify-content: center;
				// flex-direction: column;

				.acc-text-input-title {
					font-weight: 400;
					margin-bottom: -10px;
				}
			}

			.acc-change-password-box {
				height: 30px;
				width: 290px;
				margin: auto;
				display: flex;
				align-items: center;
				justify-content: space-between;

				.acc-change-password-text {
					color: #D6980E;
					font-weight: 700;
					size: 12px;
					line-height: 18px;
					font-family: 'Nunito Sans';
					font-style: normal;
					text-decoration: underline;
				}
			}
		}


		.acc-experience-title {
			margin-top: 32px;
			font-family: 'Nunito Sans';
			font-style: normal;
			font-weight: 600;
			font-size: 15px;
			line-height: 150%;
			/* identical to box height, or 22px */

			letter-spacing: 0.05em;

			color: #000000;
		}

		.acc-experience-option-box {
			display: flex;
			align-items: center;
			justify-content: space-around;
			// margin-top: 32px;
			height: 130px;
			width: 350px;
			// background-color: #D6980E;
			margin: auto;


			.acc-experience-optons {
				display: flex;
				align-items: flex-end;
				justify-content: space-around;
				height: 120px;
				width: 100px;
				// background-color: aqua;
				position: relative;
				border-radius: 10px;
			}

			.acc-experience-option-ticker {
				position: absolute;
				top: 0px;
			}
			.acc-experience-option-text {
				color: white;
				position: absolute;
				top: 50px;
			}


			.acc-experience-optons-img {
				height: 100px;
				 width: 100px;
				border-radius: 10px;

			}





		}

	}




}
