.chat-page {
  //background-color: white;
  --footer-top-padding: 8px;
  --footer-bottom-padding: 8px;
  --input-min-height: 38px; // determined from browser
  --footer-height: calc(var(--footer-top-padding) + var(--footer-bottom-padding) + var(--input-min-height));


  .page-header {

    .titles {
      display: flex;
      align-items: center;

      ion-avatar {
        width: 32px;
        height: 32px;
        margin-right: 8px;
      }
    }
  }

  .chat-page-content {
    --offset-bottom: calc(-1 * var(--footer-height) - var(--ion-safe-area-bottom)) !important;
    --background: #fefcf7;

    .product-details-card {
      background: #ffffff;
      box-shadow: 0px 0px 10px #edeae3;
      border-radius: 5px;
      padding: 16px 11px 10px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 14px;

      .product-images-row {
        .product-images {
          .img {
            width: 66px;
            height: 75px;
            border-radius: 5px;
            //background-color: #d9d9d9;
            margin-left: auto;
            margin-right: auto;
            margin-top: 8px;
            margin-bottom: 8px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }

          .scroller {
            text-align: center;
            line-height: 0.5;

            &.disabled {
              ion-icon {
                color: #edeae3;
              }
            }

            &.enabled {
              ion-icon {
                color: #d6980e;
              }
            }
          }
        }

        .product-large {
          .img {
            width: 175px;
            height: 200px;
            border-radius: 5px;
            //background-color: #d9d9d9;
            margin-left: auto;
            margin-right: auto;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }

      .product-brand {
        font-size: 12px;
        color: black;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        padding: 0;
        margin-top: 10px;
      }

      .product-name {
        font-size: 15px;
        color: black;
        text-transform: uppercase;
        text-align: center;
        padding: 0;
        padding-top: 4px;
        margin-top: -3px;
      }

      .product-price {
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 10px;
        padding-top: 0px;

        span {
          font-size: 9.5px;
          color: #acacac;
          margin-right: 4px;
        }
      }
    }

    .section-header {
      margin: 16px 20px 8px;

      .section-text {
        text-align: center;
        color: #ACACAC;
        font-size: 10px;
      }
    }

    .message-container {
      margin: 12px 20px 0 20px;
      display: flex;

      .avatar {
        height: 32px;
        width: 32px;
      }

      .message-content {
        margin-left: 8px;
        margin-right: 20px;
        border-radius: 15px;
        flex: 1;
        padding: 15px 10px;
        font-size: 15px;
        color: #1A3A35;

        .text {
        }

        .date {
          font-size: 10px;
          margin-top: 2px;
          color: #9BC9C2;
          display: none;
        }
      }

      &.continue {
        margin-top: 4px;
        margin-bottom: 4px;

        .avatar {
          visibility: hidden;
        }
      }

      &.mine {
        flex-direction: row-reverse;

        .avatar {
        }

        .message-content {
          margin-right: 8px;
          margin-left: 20px;
          background: #D6980E;
          color: white;

          .date {
            color: #44756D;
          }
        }
      }

      &.theirs {

        .message-content {
          background: #E7CD91;
        }
      }

      &.image {

        .message-content {
          background: transparent;
          padding: 0;
          overflow: hidden;
          width: fit-content;
          flex: unset;

          img {
            max-width: 100%;
            max-height: 25vh;
          }
        }
      }
    }

    #topOfList {
        color: #c4c4c4;
        padding: 8px 20px;
    }
  }

  .chat-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: var(--footer-top-padding);
    margin-bottom: calc(var(--footer-bottom-padding) + var(--ion-safe-area-bottom));
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    background: #F9FBFB;
    //background: aliceblue;
    padding: 0;
    border-radius: 20px;
    border: 1px solid black;

    .right {
      flex: 1;

      .input-container {
        color: #241D1E;

        ion-textarea {
          position: relative;
          font-size: 15px;
          --padding-start: 24px;
          --padding-end: 60px;
          --padding-top: 8px;
          --padding-bottom: 8px;
          margin: 0;

          .textarea-wrapper {
            min-height: auto !important;

            textarea {
              min-height: auto !important;
            }
          }
        }


        ion-button {
          position: absolute;
          right: 2px;
          bottom: 5px;
          z-index: 2;
          height: auto;
          --background: transparent;
          --color: #D6980E;
          --box-shadow: none;
          text-transform: none;
          margin: 0;
          padding-top: 4px;
          padding-bottom: 4px;
          --font-size: 15px;
          --font-weight: 500;

          &.button-disabled {
            --color: #ACACAC;
          }
        }
      }
    }
  }

  ion-list {
    background-color: white;
  }
}

