.follow-people-main-container {
  .follow-people-ion-content {
    --background: #fefcf7;
  }

  .follow-people-back-btn {
    position: absolute;
    left: 6%;
    top: 40%;
  }

  .follow-people-title {
    margin-top: 24px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    font-family: 'Georgia';
    line-height: 18px;
  }

  .follow-people-desc-container {
    padding-left: 30px;
    padding-right: 30px;
    width: 250px;
    margin: auto;
  }

  .follow-people-desc {
    line-height: 18px;
    font-weight: 400;
    font-size: 12px;
    color: gray;
    text-align: center;
  }

  .follow-people-body-container {
    margin-top: -5px;
    margin-bottom: -80px;
    height: 54vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    flex-direction: column;
  }

  .follow-people-users-row {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -5px;
    width: 90%;
  }

  .follow-people-users-img-container {
    height: 90%;
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .follow-people-users-img {
    height: 90%;
    width: 90%;
    border-radius: 50%;
  }

  .follow-people-user-names-container {
    width: 45%;
    font-size: 18px;
    font-weight: 500;
    color: #d69a0e;
    margin-right: 10px;
    font-weight: 500;
  }

  .follow-people-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 3rem;

    .profile-picture-btn{
      width: 104px;
      height: 37px;
      font-family: 'Nunito Sans';
      font-size: 10px;
      margin-top: 10px;
      line-height: 22.5px;
      letter-spacing:5%;
      color: #ffffff;
    }
  }

  .follow-people-skip-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .follow-people-skip-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .follow-people-skip-text {
    text-align: center;
    color: black;
    font-size: 12px;
  }

  .follow-people-skip-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    height: 30px;
    // margin-bottom: -10px;
  }

  .follow-people-skip-text {
    text-align: center;
    color: black;
    font-size: 12px;
  }
// before follow 5 user
  .follow-people-submit-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 350px;
    margin-bottom: 25px;
    margin-top: 80px;
  }

  .follow-people-submit-btn-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 350px;
    margin-bottom: 25px;
    margin-top: 10px;

    .btn{
      width: 310px;
      height: 51px;
      font-weight: 500;
      font-family: 'Nunito Sans';
      font-size: 15px;
      margin-top: 10px;
      line-height: 22.5px;
      letter-spacing:2px;
      color: #ffffff;
    }
  }
}
