.trade-item-main-container {
  background-color: #FEFCF7;


  .trade-item-header {
    background-color: #FEFCF7;
    height: 118px;

    .trade-item-back-btn {
      position: absolute;
      left: 35px;
      bottom: 15px;
      z-index: 1000;
    }

    .trade-item-title-text-container {
      position: absolute;
      top: 64%;
      bottom: 10.71%;
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 150%;
      letter-spacing: 0.05em;
      color: #000000;
      text-align: center;
    }

  }

  .trade-item-info-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }

  .trade-item-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-bottom: 20px;
    // --padding-top: 20px;
    --background: #FEFCF7;

    .trade-offer-line {
      width: 100%;
      height: 1px;
      border: 0.05px solid #707070;
      position: absolute;
      left: 0px;
      top: 196px;
    }

    .trade-item-container {
      position: relative;
      width: 350px;
      height: 255px;
      background: #FEFCF7;
      border: 0.5px solid #707070;
      border-radius: 10px;

    }

    .trade-item-container-sm {
      position: relative;
      width: 350px;
      height: 230px;
      background: #FEFCF7;
      border: 0.5px solid #707070;
      border-radius: 10px;

    }

    .trade-item-container-xsm {
      position: relative;
      width: 350px;
      height: 200px;
      background: #FEFCF7;
      border: 0.5px solid #707070;
      border-radius: 10px;

    }

    .trade-accepeted-email {
      margin-left: 10px;
      margin-top: 10px;
      color: #000;
      font-family: 'Nunito Sans';
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 14.5px;
    }

    .trade-item-status-container {
      // background-color: plum;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 15px;
      margin: 5px 16px 0px 10px;

      .item-status-pending {
        flex: 1.1;
        display: flex;
        align-items: center;
        height: 15px;
        padding-top: 5px;

      }

      .item-status-accepted {
        flex: 1.1;
        display: flex;
        align-items: center;
        height: 15px;
        padding-top: 5px;

      }

      .item-status-rejected {
        flex: 1.1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 15px;
        padding-top: 5px;

      }

      .item-status-invalid {
        flex: 1.1;
        display: flex;
        align-items: center;
        height: 15px;
        padding-top: 5px;

      }

      .view-details {
        color: #000;
        font-family: 'Nunito Sans';
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0.5px;
        text-decoration-line: underline;
      }

      .status_ {
        padding-top: 2px;
        width: 40px;
        height: 15px;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 150%;
        letter-spacing: 0.05em;
        color: #707070;
      }

      .status_text-pending {
        margin-left: 8px;
        padding-top: 1px;
        width: 126px;
        height: 15px;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 9px;
        line-height: 150%;
        letter-spacing: 0.05em;
        color: #D6980E;
      }

      .status_text-accepted {
        margin-left: 8px;
        padding-top: 1px;
        width: 126px;
        height: 15px;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 9px;
        line-height: 150%;
        letter-spacing: 0.05em;
        color: #42D60E;
      }

      .status_text-rejected {
        margin-right: 45px;
        height: 15px;
        color: #FA0707;
        font-family: 'Nunito Sans';
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0.5px;
      }

      .status_text-invalid {
        margin-left: 7px;
        height: 15px;
        color: #FA0707;
        font-family: 'Nunito Sans';
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0.5px;
      }

      .items-view-details {
        flex: .9;
        width: 77px;
        height: 15px;
        text-align: right;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 150%;
        letter-spacing: 0.05em;
        text-decoration-line: underline;
        color: #000000;

      }


    }

    .items-view-props {
      margin: 17px 40px 0px 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      .items-view-props-left {
        // background-color: #D6980E;
        width: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .item-img-left {
          height: 90px;
          width: 90px;
          border-radius: 10px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }

        .trade-item-name-left {
          width: 140px;
          height: 18px;
          text-align: center;
          font-family: 'Nunito Sans';
          font-style: normal;
          font-weight: 600;
          font-size: 11px;
          margin-top: 10px;
          line-height: 150%;
          letter-spacing: 0.05em;
          color: #000000;
        }

        .trade-item-price-left {
          width: 50px;
          height: 18px;
          font-family: 'Nunito Sans';
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 150%;
          display: flex;
          align-items: center;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #000000;
        }

      }

      .items-view-props-center {
        position: relative;
        width: 80px;
        margin-top: -45px;
        display: flex;
        align-items: center;
        justify-content: center;

        .line {
          height: 95px;
          border: .1px solid rgb(41, 38, 38);
        }

        .circle {
          position: absolute;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          border: 1px solid black;
          background-color: #FEFCF7;
        }

        .img {
          position: absolute;

        }

      }

      .items-view-props-right {
        width: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border-radius: 5px;


        .item-img-right {
          height: 90px;
          width: 90px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          border-radius: 10px;
        }

        .trade-item-name-right {
          width: 140px;
          height: 18px;
          text-align: center;
          font-family: 'Nunito Sans';
          font-style: normal;
          font-weight: 600;
          font-size: 11px;
          margin-top: 10px;
          line-height: 150%;
          letter-spacing: 0.05em;
          color: #000000;
        }

        .trade-item-price-right {
          width: 50px;
          height: 18px;
          font-family: 'Nunito Sans';
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 150%;
          display: flex;
          align-items: center;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #000000;
        }

      }

    }

    .trade-items-btn-container-pending {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      height: 40px;
      bottom: 3%;
      right: 5%;

      .trade-item-btn {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 150%;
        display: flex;
        align-items: center;
        letter-spacing: 0.05em;
        height: 32px;
        width: 80px;
      }
    }


    .trade-items-btn-container-rejected {
      width: 90%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      height: 40px;
      bottom: 10px;
      right: 5%;
      color: rgb(32, 31, 31);
      text-align: center;
      font-weight: 500;
    }

    .trade-items-btn-container-invalid {
      width: 90%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      height: 40px;
      bottom: 10px;
      right: 5%;
      color: rgb(32, 31, 31);
      text-align: center;
      font-weight: 500;
    }

    .trade-items-btn-container2 {
      width: 90%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      height: 40px;
      bottom: 3%;
      right: 5%;
      color: red;
      text-align: center;
      font-weight: 600;
    }

    .trade-items-pending-sent {
      width: 90%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      height: 40px;
      bottom: 3%;
      right: 5%;
      color: #000000;

      text-align: center;
      font-weight: 400;
    }


  }
}
