.offer-complete-container {
  background-color: #fefcf7;

  .offer-header {
    position: relative;

    .offer-header-toolbar {
      padding: 0;
      --background: #fefcf7;

      .title {
        position: relative;
        font-size: 20px;
        text-align: center;
        font-family: Georgia;
        margin-top: 35px;
        text-transform: uppercase;
      }
    }
  }

  .offer-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-bottom: 20px;
    --padding-top: 10px;
    --background: #fefcf7;

    .offer-submitted {
      font-weight: 600;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 20px;
    }

    .offer-card-charged-warning {
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: #d6980e;
      padding-top: 24px;
    }

    .offer-owner {
      color: #d6980e;
    }

    .primary-color {
      color: #d6980e;
    }

    .thank-container {
      margin-bottom: 24px;

      .top {
        text-align: center;
        font-size: 12px;
        font-weight: 600;
      }

      .text {
        font-weight: 400;
        font-size: 12px;
        padding-top: 16px;
        line-height: 16px;
        text-align: center;

        .link {
          text-decoration: underline;
        }
      }
    }
  }

  .footer {
    margin-top: 30px;

    .button-container {
      margin-top: 333px;
      padding-left: 20px;
      padding-right: 20px;

      ion-button {
        margin-bottom: 14px;
      }
    }
  }
}
