
.mentions-img-container-pd{
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mentions-img-pd{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.mentions-display-name-pd{
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  font-family: 'Nunito Sans';
  font-style: normal;
  text-transform: uppercase;
}
