.post-detail-page {
  --background: rgb(254, 252, 247);

  .post-detail-create-comment-container {
    margin-bottom: 80px;
  }

  .post-detail-create-comment {
    background-color: #fefcf6;
    color: #000000;
    border-top: solid #707070 1px;
    height: 80px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 10px;

    .avatar-image {
      margin-top: 0px;
      margin-left: 10px;
      margin-right: 10px;
      width: 39px;
      height: 39px;
      border: 1px solid #000000;
      border-style: inside;
    }
  }

  .create-comment {
    margin-top: 4px;
    border: solid black 1px;
    border-radius: 25px;
    height: 32px;

    ::placeholder {
      color: #707070;
      font-size: 10px;
      font-weight: 400;
    }

    --padding-start: 6px;
  }

  ion-list {
    background-color: rgb(254, 252, 247);
  }

  .nobo-post-detail-background {
    padding-left: 64px;
    padding-right: 64px;
    margin-bottom: 0;
    padding-bottom: 8px;
  }

  .feed-header {
    background-color: #1A3A35;
    color: white;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    height: 90px;
    background-color: #1a3a35;
  }

  .home-header {
    background-color: #1a3a35;
    height: auto;
    --opacity-scale: 0 !important;
  }

  .home-header-toolbar {
    --background: #1a3a35;
  }

  .home-content {
    --background: #1a3a35;
  }

  .post-slide {
    --background: #FEFCF7;
    ;
  }

  .delete-post-main {
    // background-color: gray;

    // justify-content: center;
  }


  .post-slide-img-box {
    background-color: #FEFCF7;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .report-c-box-delete {
    background-color: #E8DABB;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1.2px solid #FEFCF7;
  }

  .report-c-box-report {
    background-color: #E8DABB;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1.2px solid #FEFCF7;

  }

  // .report-c-box-report{
  //   background-color: #E8DABB;
  //   border-left: 2px ;
  //   height: 50px ;
  //   width: 50px ;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }
  // .delete-post-img {
  //   // height:100px;
  //   // width: 120px;
  // }

  .home-toolbar {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    --background: #F9FBFB !important;
    position: sticky;
  }

  .home-filter {
    margin-right: 20px;
    float: right;
  }

  .nobo-comments-count {
    top: 8px;
    position: absolute;
    right: 61px;
    font-size: .8em;
    color: #00D6B6;
  }

  .nobo-likes-count {
    top: 8px;
    position: absolute;
    right: 5px;
    font-size: .8em;
    color: #00D6B6;
  }


  .nobo-float-logo {
    text-align: center;
  }

  .item-inner {
    border-bottom: none;
  }

  .post-detail-page .nobo-list-background {
    background-color: #F9FBFB;
  }

  .post-detail-page .floating-button {
    font-size: 4rem;
    position: fixed;
    bottom: 10px;
    right: calc(10px + var(--ion-safe-area-right, 0px));
    z-index: 999;
  }

  /* V2 additions*/
  .post-detail-page .nobo-profile-header-v2 {
    position: absolute;
    top: 125px;
    left: 0;
    right: 0;
    text-align: center;
    padding-left: 68px;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 79%, rgba(0, 0, 0, 0) 106%);
  }

  .post-detail-page .feed-name {
    font-size: 1.4em;
  }

  .post-detail-page .nobo-header-stars {}

  .post-detail-page .nobo-location-pin {
    margin-left: -35px;
  }

  .post-detail-page .nobo-location-pin div {
    color: #3c91e5;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    display: inline;
    margin-top: 0px;
    padding-left: 7px;
  }

  .post-detail-page .nobo-social-tops svg {
    margin-left: 5px;
  }

  .post-detail-page.nobo-action-menu {
    top: 33px;
    right: 58px;
  }

  .nobo-post-item-detail-header {
    border-bottom: 1px solid #686363;
    background-color: white;
    border-radius: 15px 15px 0 0;
  }

  .nobo-post-item-detail-header .feed-item {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 15px;
    background-color: white;
    box-shadow: none;
  }

  .nobo-post-item-detail-header .feed-bottom {
    margin-top: -31px;
  }

  .feed-bottom-icons {
    border-top: none;
  }

  .feed-item-item-content {
    &>ion-col:first-child {
      padding-left: 0;

      .feed-list-feed-image {
        margin-left: 0;
      }
    }

    .feed-content {
      padding-left: 0;
    }
  }
}
