.selected {
    --background: #F7F8FA;
}

.primary-sport-sub-header {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-top: 5rem;
    margin-bottom: 1.5rem;
    color: #000000;
    text-align: left;
    padding-left: 2rem;
}

.primary-sport-sub-label {
    display: block;
    text-align: left;
    font-size: .7rem;
    width: 80%;
    padding-left: 2rem;
    color: rgba(155, 201, 193, 1);
}

.sport-button.disabled {
    --background: #C4C4C4;
    color: white;
}

.sport-button {
    --background: #C4C4C4;
    color: white;
}

.primary-sport-input {
    border-radius: 5px;
    padding-bottom: 1px;
}

.primary-sport-label {
    padding-left: 10px;
}