.page-header {
  .cart {
    position: absolute;
    right: 20px;
    top: 20px;

    img {
      height: 29px;
      width: 29px;
    }

    .dot {
      position: absolute;
      top: -1px;
      right: -1px;
      background-color: #d6980e;
      height: 10px;
      width: 10px;
      border-radius: 5px;
    }
  }
}

.product-detail-page {
  background-color: #fefcf7;
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 10px;
  --padding-bottom: calc(var(--ion-safe-area-bottom, 0px) + 100px);

  .sneaker-cards-container {
    padding-top: 10px;
  }
  .sneaker-size-card {
    font-size: 8px;
    background: rgba(217, 217, 217, 0.5);
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    color: #c4c4c4;
  }

  .sneaker-card-active {
    color: black;
  }

  .selected-sneakers-margin-top {
    margin-top: 17px;
  }

  .selected-sneakers-container {
    padding: 24px 0;
    border-top: 1px solid black;
  }

  .selcted-sneakers-price {
    font-size: 15px;
    font-weight: 700;
  }

  .selected-sneakers-trade-price {
    font-size: 12px;
    font-weight: 700;
  }

  .selected-sneakers-tags {
    font-size: 9px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .selected-sneakers-view-details {
    color: #d6980e;
    text-decoration-line: underline;
    font-size: 10px;
    font-weight: 700;
    text-align: flex-end;
    letter-spacing: 0.1em;
    padding-top: 3px;
  }

  .product-details-card {
    background: #ffffff;
    box-shadow: 0px 0px 10px #edeae3;
    border-radius: 5px;
    padding: 16px 11px 10px;

    .product-images-row {
      .product-images {
        .img {
          width: 66px;
          height: 75px;
          border-radius: 5px;
          //background-color: #d9d9d9;
          margin-left: auto;
          margin-right: auto;
          margin-top: 8px;
          margin-bottom: 8px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .scroller {
          text-align: center;
          line-height: 0.5;

          &.disabled {
            ion-icon {
              color: #edeae3;
            }
          }

          &.enabled {
            ion-icon {
              color: #d6980e;
            }
          }
        }
      }

      .product-large {
        .img {
          width: 175px;
          height: 200px;
          border-radius: 5px;
          //background-color: #d9d9d9;
          margin-left: auto;
          margin-right: auto;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }

    .product-brand {
      font-size: 12px;
      color: black;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      padding: 0;
      margin-top: 10px;
    }

    .product-name {
      font-size: 15px;
      color: black;
      text-transform: uppercase;
      text-align: center;
      padding: 0;
      padding-top: 4px;
      margin-top: -3px;
    }

    .product-price {
      font-size: 15px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 10px;
      padding-top: 0px;

      span {
        font-size: 9.5px;
        color: #acacac;
        margin-right: 4px;
      }
    }

    .buttons {
      margin-top: 10px;
    }

    .button-container {
      padding-top: 0;
      padding-bottom: 0;

      &.left {
        padding-left: 0;
      }

      &.right {
        padding-right: 0;
      }
    }
  }

  .trade-tooltip {
    ion-col {
      text-align: right;
      display: flex;
      align-items: center;
      font-size: 10px;
      color: #d6980e;
      justify-content: flex-end;
      padding-right: 0;

      img {
        height: 10px;
        margin-right: 4px;
      }
    }
  }

  .product-details {
    padding-left: 0;
    padding-right: 0;

    .title {
      font-size: 12px;
      color: #707070;
      text-transform: uppercase;
      margin-top: 10px;
    }

    .blurb {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 10px;
    }

    .owner {
      .avatar {
        height: 20px;
        width: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
      }

      .username {
        font-size: 12px;
        color: black;
        margin-top: 3px;
      }

      .rating {
      }
    }
  }

  .product-info {
    text-transform: uppercase;

    .label {
      font-size: 10px;
      color: #707070;
      padding-top: 7px;
      padding-bottom: 0;
    }

    .value {
      font-size: 12px;
      text-align: right;
    }
  }
}
