.home-page-organization-profile .organization-profile-bubble {
  position: absolute;
  width: 73px;
  height: 73px;
  border-radius: 50%;
  top: 90px;
  left: 12px;
  box-shadow: 1px 2px 3px 3px rgb(0 0 0 / 13%);
  background-image: url("/public/assets/images/users/profiles/orgprofile.png") !important;
  background-position: center;
  background-size: 85px;
  z-index: 10000;
}

.home-page-organization-profile .nobo-profile-bottom-section-wrapper {
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid rgba(100, 100, 100, 0.1);
  box-shadow: 0px 0px 5px 3px rgb(0 0 0 / 5%);
  -webkit-box-shadow: 0px 0px 5px 3px rgb(0 0 0 / 5%);
  height: 120vh;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 7px;
  padding-right: 3px;
}
.home-page-organization-profile .nobo-profile-tabs {
  padding: 3px;
  border-radius: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 3px;
  margin-right: 3px;
  overflow: visible;
}

.home-page-organization-profile .nobo-profile-tabs > ion-grid > ion-row > ion-col > div:nth-child(1) {
  font-size: 0.7em;
  color: #1a3a35;
}

/*
    .nobo-edit-profile-button {
      background-color: #ffffff;
      color: #1A3A35;
      border: 1px solid #1A3A35;
      border-radius: 5px;
      margin-left: 27px;
      margin-bottom: 12px;
      height: 37px;
      width: 144px;
      font-weight: 600;
  } */
/* small version */
.home-page-organization-profile .home-page-organization-profile .nobo-edit-profile-button {
  background-color: #ffffff;
  color: #1a3a35;
  /* border: 1px solid #1A3A35; */
  border-radius: 5px;
  margin-left: 27px;
  margin-bottom: 12px;
  height: 25px;
  width: 103px;
  font-weight: 500;
  font-size: 0.7em;
  text-transform: capitalize;
  border: 1px solid rgba(100, 100, 100, 0.1);
  -webkit-box-shadow: 2px 3px 5px 1px rgb(0 0 0 / 5%);
}

.home-page-organization-profile .organization-home-header-organization-profile {
  height: auto;
  --opacity-scale: 0 !important;
  background-image: url("/public/assets/images/users/profiles/usc-banner.png");
  background-size: cover;
  height: 125px;
}

.home-page-organization-profile .home-filter-organization-profile {
  margin-right: 20px;
  float: right;
}
.home-page-organization-profile .nobo-comments-count {
  top: 8px;
  position: absolute;
  right: 61px;
  font-size: 0.8em;
  color: #00d6b6;
}

.home-page-organization-profile .nobo-likes-count {
  top: 8px;
  position: absolute;
  right: 5px;
  font-size: 0.8em;
  color: #00d6b6;
}

.home-page-organization-profile .nobo-float-logo {
  text-align: center;
}

.home-page-organization-profile .item-inner {
  border-bottom: none;
}

.home-page-organization-profile .nobo-list-background {
  background-color: #ffffff;
}

.home-page-organization-profile .swiper-slide {
  color: #1a3a35;
  text-align: center;
}

.home-page-organization-profile .swiper-slide-active {
}

.home-page-organization-profile .home-page-organization-profile .nobo-tab-menu-item {
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  color: #1a3a35;
  font-weight: 400;
  background-color: rgba(155, 201, 193, 0.25);
  word-wrap: normal;
  text-align: center;
  font-size: 0.6rem;
  line-height: 4;
  border-radius: 5px !important;
}

.home-page-organization-profile .home-page-organization-profile .nobo-tab-menu-item.selected {
  color: #00816d !important;
  background-color: #99e1d954;
  line-height: 4;
  border-bottom: none !important;
  border: 1px solid #99e1d954;
  border: none !important;
  padding-top: 5px;
  padding-bottom: 5px;
}

.home-page-organization-profile .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
.home-page-organization-profile .nobo-menu-container {
  position: absolute;
  left: 5px;
  right: 5px;
}

.home-page-organization-profile .home-page-organization-profile .nobo-profile-section {
  margin: 0 !important;
  top: 50px;
}

.home-page-organization-profile .home-page-organization-profile .nobo-profile-tabs {
  padding: 3px;
  border-radius: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  padding-top: 4px;
  padding-bottom: 20px;
  margin-left: 3px;
  margin-right: 3px;
  overflow: visible;
}

.home-page-organization-profile .nobo-section-item {
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 10px;
  margin-bottom: 25px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 5px 3px rgb(0 0 0 / 5%);
  -webkit-box-shadow: 0px 0px 5px 3px rgb(0 0 0 / 5%);
  padding-left: 7px;
  height: 80px;
}

.home-page-organization-profile .nobo-profile-section > ion-item {
  overflow: visible;
}

.home-page-organization-profile .nobo-profile-section > ion-item div {
  margin-top: 28px;
  margin-left: 10px;
}

.home-page-organization-profile .nobo-profile-section > ion-item > span:nth-child(1) {
  color: #00816d;
  font-weight: 500;
  font-size: 0.9em;
  position: absolute;
  top: 30px;
  left: 11px;
}

.home-page-organization-profile .nobo-profile-section > ion-item > span:nth-child(2) {
  color: #1a3a35;
  font-weight: 500;
  font-size: 1em;
  position: absolute;
  top: 30px;
  right: 18px;
}

.home-page-organization-profile .nobo-spacer {
  width: 8px;
  border: none !important;
  background: none ipor !important;
  opacity: 0;
}

.home-page-organization-profile .home-page-organization-profile .feed-item {
  margin: 1px;
  margin-bottom: 30px;
}

/* V2 additions*/
.home-page-organization-profile .home-page-organization-profile .nobo-profile-header-v2 {
  position: absolute;
  top: 125px;
  left: 0;
  right: 0;
  text-align: center;
  margin-left: 10px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 79%,
    rgba(0, 0, 0, 0) 106%
  );
}

.home-page-organization-profile .home-page-organization-profile .nobo-profile-header-v2 .feed-name {
  font-size: 1.4em;
}

.home-page-organization-profile .home-page-organization-profile .nobo-header-stars {
}

.home-page-organization-profile .home-page-organization-profile .nobo-location-pin {
  /* margin-left: -35px; */
}

.home-page-organization-profile .home-page-organization-profile .nobo-location-pin div {
  color: #3c91e5;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  display: inline;
  margin-top: 0px;
  padding-left: 7px;
}

.home-page-organization-profile .home-page-organization-profile .nobo-social-tops svg {
  margin-left: 5px;
}

.home-page-organization-profile .home-page-organization-profile .nobo-action-menu {
  top: 33px;
  right: 58px;
}

.home-page-organization-profile .profile-submenu-slide {
  width: auto !important;
}

.home-page-organization-profile .profile-submenu-btn {
  color: #00816d;
  border-radius: 15px;
  border: solid 0.5px #99e1d9;
  --background: #ffffff;
  font-size: 10px;
  height: 20px;
}
