.return-r-main-container {
  background-color: #FEFCF7;

  .return-r-header {
    // background-color: #FEFCF7;
    height: 118px;

    .return-r-back-btn {
      position: absolute;
      left: 35px;
      bottom: 15px;
      z-index: 1000;
    }

    .return-r-title-text-container {
      width: 160px;
      position: absolute;
      top: 65%;
      left: 50px;
      bottom: 10.71%;
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 150%;
      letter-spacing: 0.05em;
      color: #000000;
      text-align: center;
    }

  }


  .return-r-item-content {
    --padding-start: 24px;
    --padding-end: 64px;
    --padding-bottom: 20px;
    // --padding-top: 20px;
    --background: #FEFCF7;

    .return-r-item-prop-container {
      // position: relative;
      height: 90px;
      padding: 0px;
      display: flex;
      align-items: center;
      gap: 24px;
      // justify-content: center;

      .img-container {
        border-radius: 10px;
        height: 90px;
        background-color: purple;
      }

      .right-props {
        height: 90px;
        display: flex;
        flex-direction: column;

      }

      >img {
        // position: absolute;
        // left: 0px;
        // top: 0px;

      }

      .return-r-brand-name-box {
        display: flex;
        align-items: center;
        height: 18px;
        font-size: 12px;

        // width: 68%;
        text-transform: uppercase;
        gap: 15px;


        .return-r-item-brand {
          font-family: 'Nunito Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 150%;
          align-items: center;
          letter-spacing: 0.05em;
          color: #000000;
        }

        .return-r-item-name {

          font-family: 'Nunito Sans';
          font-style: normal;
          font-weight: 550;
          font-size: 12px;
          line-height: 150%;
          align-items: center;
          letter-spacing: 0.05em;
          color: #000000;
        }

      }





      .return-r-purchased-info {
        margin-top: 7px;
        display: flex;
        align-items: center;
        height: 18px;
        font-size: 12px;

        text-transform: uppercase;
        gap: 15px;


        .return-r-title {
          font-family: 'Nunito Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 10px;
          line-height: 150%;
          align-items: center;
          letter-spacing: 0.05em;
          color: #ACACAC;


        }

        .return-r-price {
          font-family: 'Nunito Sans';
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 150%;
          align-items: center;
          letter-spacing: 0.05em;
          color: #000000;
        }
      }

      .return-r-vendor-info {
        // background-color: palevioletred;
        margin-top: 7px;
        display: flex;
        align-items: center;
        height: 18px;
        font-size: 10px;
        gap: 15px;


        .return-r-vendor {
          font-family: 'Nunito Sans';
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          line-height: 150%;
          align-items: center;
          letter-spacing: 0.05em;
          color: #000000;
        }

        .return-r-vendor-name {
          font-family: 'Nunito Sans';
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          line-height: 150%;
          align-items: center;
          letter-spacing: 0.05em;
          color: #D6980E;
        }

      }



    }

    .return-input-container {
      position: relative;
      margin-top: 24px;
      padding: 0px;

      .return-input {
        box-sizing: border-box;
        height: 37px;
        border: 0.5px solid #000000;
        border-radius: 2px;
      }

      .img {
        position: absolute;
        right: 10px;
        top: 25%;
        z-index: 500;
      }
    }

    .return-item-testarea-box {
      padding: 0px;
      margin-top: 10px;

      .return-item-testarea {
        padding-left: 5px;
        box-sizing: border-box;
        height: 107px;
        border: 0.5px solid #000000;
        border-radius: 2px;
      }

    }

  }


}
