.return-main-container {
  background-color: #FEFCF7;

  .return-header {
    // background-color: #FEFCF7;
    height: 118px;

    .return-back-btn {
      position: absolute;
      left: 36px;
      bottom: 15px;
      z-index: 1000;
    }

    .return-title-text-container {
      // background-color: aquamarine;
      width: 100%;
      position: absolute;
      top: 70%;
      bottom: 10.71%;
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 150%;
      letter-spacing: 0.05em;
      color: #000000;
      text-align: center;
    }

  }


  .return-item-content {
    --padding-start: 24px;
    --padding-end: 24px;
    --padding-bottom: 20px;
    // --padding-top: 20px;
    --background: #FEFCF7;


    .return-item-container {
      position: relative;
      padding: 8px 8px 0px 8px;
      box-sizing: border-box;
      height: 57px;
      background: #FFFFFF;
      box-shadow: 0px 0px 10px #EDEAE3;
      border-radius: 5px;
      margin-bottom: 10px;


    }

    .return-item-box {
      height: 10px;
      font-size: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .return-item-name {
      // margin-top: -5px;
      font-size: 10px;
      height: 10px;
      display: flex;
      align-items: center;
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 550;
      text-transform: uppercase;
      color: #000000;
      letter-spacing: 0.05em;


      // display: flex;
      // flex-direction: column;


    }

    .return-brand {
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 10px;
      text-transform: uppercase;
      color: #000000;
    }

    .return-date {
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 8px;
      line-height: 8px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #ACACAC;
    }

    .return-cost-info {
      height: 10px;
      font-size: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3px;
    }

    .return-cost-title {
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 9.5px;
      line-height: 8px;
      text-align: center;
      color: #ACACAC;
      margin-top: 12px;
    }
    .return-cost {
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 8px;
      display: flex;
      align-items: center;
      color: #000000;
    }






















  }

}
