.savings-page {
  background-color: #FEFCF7;

  .savings-row {
    padding-bottom: 1rem;
    border-bottom: 0.5px solid #ACACAC;
  }

  .rewards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 20vh;
    // margin-top: -1rem;
  }

  .rewards-card {
    --background: #fefcf6;
    width: 80%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .rewards-graph {
    height: 103px;
    position: relative;

    /* Style your donut graph here */
    .sustain-reward-g-text {
      position: absolute;
      top: 37%;
      left: 30%;
      height: 45px;
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 150%;
      text-align: center;
      letter-spacing: 0.05em;
      color: #D6980E;
    }

  }

  .rewards-graph2 {
    height: 103px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 40px;
  }

  .rewards-points {
    text-align: right;
  }

  .savings-header {
    height: 118px;
    padding-left: 25px;

    .savings-title-text-container {
      width: 100%;
      position: absolute;
      bottom: 20px;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 150%;
      letter-spacing: 0.05em;
      color: #000000;
      text-align: center;
    }
    .savings-text {
      padding-top: 40%;
      font-size: 8px;
      font-weight: 400;
      line-height: 12px;
      letter-spacing: 0.05em;
      text-align: center;
    }

    .savings-details {
      color: #D6980E;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.05em;
      text-align: right;
    }

    .savings-back-btn {
      position: absolute;
      left: 36px;
      bottom: 15px;
      z-index: 1000;
    }
  }


  .savings-sub-title {
    height: 30px !important;
    top: 30px !important;
  }
  .savings-sub-header {
    height: 40px;

    .savings-title-text-container {
      width: 100%;
      position: absolute;
      top: 70%;
      bottom: 10.71%;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 150%;
      letter-spacing: 0.05em;
      color: #000000;
      text-align: center;
    }
  }
}

.rewards-content {
  --background: #fefcf6;
  --padding-bottom: 48px;
}

.modal-wrapper {
  padding: 1rem;
  --height: fit-content;
}


.modal-content {
  color: black;
  padding: 1rem;

  .modal-text {
    font-size: 1.5rem;
    text-align: left;
  }

  .modal-source {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: uppercase;

    a {
      padding-left: .5rem;
      color: black;
    }
  }
}



.savings-amount {
  font-family: 'Nunito Sans';
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.05em;
  text-align: center;
}

.toggle-switch-savings {
  z-index: 10000;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  min-height: 30px;
  background: white;
  border-radius: 25px;
  border: .5px solid black;
  cursor: pointer;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  .toggle-switch-slider {
    width: 160px;
  }
}

.toggle-switch-savings.checked .toggle-switch-slider {
  transform: translateX(160px);
}

.rewards-circle-container {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background-color: #fefcf6;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rewards-circle-image {
  opacity: .38;
  width: 40%;
  height: auto;
  border-radius: 50%;
}
