// :root {
// 	 --ion-background-color: #FEFCF7; //backgroun color
// 	--ion-background-color-rgb: 254,252,247;
// }



// IonContent{
//   --ion-backround-color:green
// }

// .my-custom-interface .select-interface-option {
//   --color: #971e49;
//   --color-hover: #79193b;
// }

/* Action Sheet Interface: set color for the action sheet using its button CSS variables */
// .my-custom-interface .select-interface-option {
//   --button-color: #971e49;
//   --button-color-hover: #79193b;
// }
// .my-custom-interface .brown-option {
//   --color: #206dca;
//   --color-hover: #79193b;
// }

/* Alert Interface: set color for alert options (single selection) */
// .my-custom-interface .select-interface-option .alert-radio-label {
//   color: #971e49;
// }

/* Alert Interface: set color for alert options (multiple selection) */
// .my-custom-interface .select-interface-option .alert-checkbox-label {
//   color: #971e49;
// }

/* Alert Interface: set color for checked alert options (single selection) */
// .my-custom-interface .select-interface-option[aria-checked='true'] .alert-radio-label {
//   color: #79193b;
// }

/* Alert Interface: set color for checked alert options (multiple selection) */
// .my-custom-interface .select-interface-option[aria-checked='true'] .alert-checkbox-label {
//   color: #79193b;
// }

.sizes-ion-content {
  --background:#FEFCF7;
}

  
.header{
    width: 100%;
    height: 110px;
     position: relative;
    left: 0;
    top: 0;
  }
  
  .nobo-back-btn{
    position: absolute;
    left: 5%;
    top: 15%;
  }
  
  .nobo-logo{
    position: absolute;
    height: 62px;
  left: 94px;
  top: 40px;
  }
  
  .title{
    margin-top: 24px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    // line-height: 18px;
  }
  
  .desc-container{
  padding-left: 30px;
  padding-right: 30px;
  }
  .desc{
    width: 80%;
    line-height: 18px;
    font-weight: 400;
    font-size: 16px;
    color: gray;
    text-align: center;
    margin-bottom: 20px;
  }

  .select-container{
    border: 2px solid gray;
    width: 90vw;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 18px;
    height: 43px;
  }

  .btn-container{
    display: flex;
    align-items: center;
  justify-content: center;
  margin-top: 46.5vh;
  }

  .btn{
    width: 350px;
    height: 51px;
  }
  
  