.main-container {
  background-image: linear-gradient(
    goldenrod,
    rgb(252, 250, 243),
    white,
    white,
    white
  );
}

.signup-ion-content {
  --background: linear-gradient(
    goldenrod,
    rgb(252, 250, 243),
    white,
    white,
    white
  );
}

.icon-container {
  display: flex;
  height: 250px;
  flex-direction: column;
  margin-top: 50px;
}

.signup-header {
  width: 100%;
  height: 110px;
  position: relative;
  left: 0;
  top: 0;
}


.nobo-signup-back-btn {
  position: absolute;
  left: 5%;
  top: 15%;
}

.nobo-signup-logo {
  position: absolute;
  height: 62px;
  left: 94px;
  top: 40px;
  color: white;
}

.login-box {
  background: linear-gradient(
    116.6deg,
    rgba(255, 255, 255, 0.6) 15.94%,
    rgba(255, 255, 255, 0.36) 92.73%
  );
  backdrop-filter: blur(2px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.logo-margin-top {
  margin-top: 30vh;
}
.invalid-text-color {
  color: red;
}

.nobo-logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.get-registered {
  color: black;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  font-family: "Nunito Sans";
  margin-top: 20px;
}
.get-registered-container {
  margin-bottom: 70px;
}

.signup-btn {
  width: 300px;
}

.signup-info{
  font-size: 14px;
  color: gray;
}

// .nobo-button{
//     height: 51px;
//     font-family:'Nunito Sans';
//     font-size: 18px;
//     font-weight: 700;
//     margin-top: 180px;
//     letter-spacing: 3;
// }
