.splash-logo {
  animation: logo-animation 2s ease-in-out forwards;
  height: 51px;
  width: 168px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 35vh;
  background-color: #398175;  */
}

@keyframes logo-animation {
  from {
    height: 51px;
    width: 168px;
  }
  to {
    height: 81px;
    width: 266px;
  }
}
