.terms-condition-main-container {

  background-color: #fefcf7;

  .terms-condition-container {
    height: 118px;
    width: 390px;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;

  }



  .terms-condition-back-btn {
    position: absolute;
    left: 36px;
    bottom: 15px;
    z-index: 1000;
  }

  .terms-condition-title-text-container {
    position: absolute;
    top: 63%;
    bottom: 10.71%;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #000000;
    text-align: center;
  }

  .terms-condition-ion-content {
    --padding-start: 27px;
    --padding-end: 21px;
    --padding-bottom: 22px;
    --padding-top: 22px;
    --background: #fefcf7;

    .terms-header-title {
      padding: 0px;
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 1000;
      font-size: 12px;
      line-height: 155.4%;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 20px;
    }

    .terms-container {
      padding: 0px;

      .terms-title {
        padding: 0px;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 1000;
        font-size: 12px;
        line-height: 155.4%;
        text-transform: uppercase;
        color: #000000;
      }

      .terms-info {
        padding: 0px;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 155.4%;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 20px;
      }
    }

  }
}
