.trades-completed-main-container {
	.trades-completed-ion-content {
		--padding-start: 20px;
		--padding-end: 20px;
		--padding-bottom: 20px;
		--padding-top: 20px;
		--background: #FEFCF7;
	}


	.trades-completed-header-container {
		height: 118px;
		width: 100%;
		margin: auto;
		position: relative;
	}



	.trades-completed-back-btn {
		position: absolute;
		left: 4.9%;
		top: 22%;
		bottom: 0%;
	}

	.trades-completed-title-text-container {
		position: absolute;
		left: 38%;
		top: 10%;
		width: 200px;
		font-family: 'Nunito Sans';
		font-style: normal;
		font-weight: 600;
		font-size: 15px;
		line-height: 150%;
		letter-spacing: 0.05em;
		color: #000000;
	}

	.trades-completed-switch-container {
		position: absolute;
		left: 20%;
		bottom: -13%;
	}







































}
