

.header-comp-back-btn {
	position: absolute;
	left: 24px;
	height: 50px;
	position: absolute;
	top: 101px;
  z-index: 1000;
}
.header-comp-nobo-logo {
	height: 50px;
		width: 190px;
		position: absolute;
		height: 100px;
		width: 100%;
		top: 73px;
		display: flex;
		align-items: center;
		justify-content: center;
  background-color: transparent;

}
