.header-comp-back-btn {
	position: absolute;
	left: 24px;
	height: 38px;
	position: absolute;
	top: 101px;
}
.header-comp-nobo-logo {
	height: 50px;
		width: 190px;
		position: absolute;
		height: 100px;
		width: 205px;
		left: 85px;
		top: 70px;
		display: flex;
		align-items: center;
		justify-content: center;
}
