.app-input-container {

    ion-input {
        font-size: 15px;
        --padding-start: 14px;
        --padding-end: 14px;
        --padding-top: 4px;
        --padding-bottom: 4px;
        --placeholder-color: #ACACAC;
        border: 1px solid black;
        width: 100%;

        ::placeholder {
            padding-left: 0;
            padding-right: 0;
            text-transform: uppercase;
        }
    }

    .error-message {
        margin-top: 8px;
        margin-left: 6px;
        margin-right: 6px;
        color: red;
        font-size: 16px;
        font-weight: 550;
        text-transform: uppercase;
    }

    &.small {
        ion-input {
            font-size: 10px;
            --padding-top: 8px;
            --padding-bottom: 8px;
        }
    }

    &.invalid {

        ion-input {
            border-color: red;
        }
    }
}
