.add-stat-container {
  --height: 575px;
  --border-radius: 10px;
  --backdrop-opacity: 0.1;
  align-items: end;

  .add-stat-content {
      background: white;
  }

  .add-stat-btn {
      height: 2rem !important;
      opacity: 1;
      --background: #94fff3;
      --color: #FFFFFF;
      --background-activated: #94fff3;
  }

  ion-toolbar.add-stat-header-toolbar {
      --background: #FFFFFF;
      padding: 0;
  }

  .cancel-btn {
      text-transform: unset;
  }

  .cancel-btn {
      background: none !important;
      color: #9BC9C1 !important;
      height: 2rem !important;
  }

  ion-button.cancel-btn {
      --background: none;
      --color: #FFFFFF;
      --background-activated: none;
  }

  .add-stat-header {
    text-align: center;
    font-size: 15px;
    color: #1A3A35;
    font-weight: 500;
  }

  .add-stat-section {
    color: #00D6B6;
    font-size: 20px;
    --padding-end: 20px;
    --padding-start: 20px;
    --inner-padding-start: 20px;
  }

  .add-stat-category {
    color: #1A3A35;
    font-size: 15px;
    --padding-end: 20px;
    --padding-start: 20px;
    --inner-padding-start: 20px;
    --border-color: #D6D6D6;

    &.disabled {
      color: #D6D6D6;
    }
  }
}
