.nobo-academics-section {

}

.nobo-academics-section.nobo-profile-section > ion-item > span:nth-child(1) {
    left:-18px;
}

.nobo-academics-section .nobo-academics-item > div:nth-child(2) {
    margin-left: 16px;
    text-align: right;
}
