.nobo-coaching-experience-section {

}

.nobo-coaching-experience {

}

div.nobo-profile-section.nobo-coaching-experience > ion-item > span:nth-child(1) {
    position: absolute;
    top: 10px;
    font-size: 1em;
    margin-left: -5px;
}

div.nobo-profile-section.nobo-coaching-experience > ion-item > span:nth-child(2) {
    position: absolute;
    left: 7px;
    top: 40px;
    font-size: .75em;
}

div.nobo-profile-section.nobo-coaching-experience > ion-item {
    height: 65px;
}
