ion-item.nobo-playing-experience {
}

div.nobo-profile-section.nobo-playing-experience > ion-item > span:nth-child(1) {
    font-size: 1em;
}

div.nobo-profile-section.nobo-playing-experience > ion-item > span:nth-child(2) {
    font-size: .75em;
    color: #1A3A35;
}

div.nobo-profile-section.nobo-playing-experience > ion-item > span:nth-child(3) {
    font-size: .75em;
    color: #1A3A35;
}

div.nobo-profile-section.nobo-playing-experience > ion-item {
}

div.nobo-profile-section.nobo-playing-experience .nobo-dot {
    margin-left: 5px;
    margin-right: 5px;
    color: #1A3A35;
    font-weight: bolder;
}
