.urp-training-experience-section {
}

.urp-training-experience {
}

div.urp-profile-section.urp-training-experience > ion-item > span:nth-child(1) {
  position: absolute;
  top: 10px;
  font-size: 1em;
  margin-left: -5px;
}

div.urp-profile-section.urp-training-experience > ion-item > span:nth-child(2) {
  position: absolute;
  left: 7px;
  top: 40px;
  font-size: 0.75em;
}

div.urp-profile-section.urp-training-experience > ion-item {
  height: 65px;
}
